<div class="container">
 <div class="row">
  <h1>welcome to <storong><i class="fa-solid fa-book"></i>Bookers</storong>!!</h1>
  <p>in <i class="fa-solid fa-book"></i>bookers</p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>
 </div>
</div>